* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Darker Grotesque';
    color: rgb(0, 23, 50);
    font-size: 40px;
    background-color: rgb(216, 238, 232)
}

.game-container {
    background-color: yellow;
    width: 484px;
}

.game-panel {
}

.game-board {
    border: 2px solid rgb(0, 23, 50);
}

h1 {
    font-size: 40px;
}

.score {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid black;
    width: 48px;
    height: 48px;
    cursor: pointer;
}